{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    <strong>TaskTimer</strong>, an open-source project to track time spent on your projects.
</div>

<section class="row-fluid" style="margin-bottom: 30px;">
    <h3 class="span2">The Project</h3>
    <div class="span8">
        <p><strong>TaskTimer</strong> is an open-source projects I started simply to
        track the time I spent coding on customer projects.</p>
        <p>For now the project include only some basics features:
        <ul>
            <li>Manage clients, projects, tasks</li>
            <li>Developper access to start / stop tasks</li>
            <li>Client access to follow time spent</li>
        </ul>
        </p>
        <p>Some additional features should come quickly like:
        <ul>
            <li>Invoice clients</li>
            <li>Create quotes</li>
        </ul>
        </p>
        <p>And I hope find the time to add other cool stuff to make the user
        experience really better like a mobile app, a browser toolbar, a bridge
        with some other tools like Redmine or Trello.</p>
    </div>
</section>

<section class="row-fluid" style="margin-bottom: 30px;">
    <h3 class="span2">The Author</h3>
    <div class="span8">
            <img style="margin-right: 15px;" src="http://www.gravatar.com/avatar/1cad426e4cbb4a0063c10d13e9232deb.png" class="img-rounded pull-left" alt="Guillaume Luchet" width="150px"/>
            <div>
                <h5>@gluchet</h5>
                <p>I'm Guillaume Luchet, my cap here is the one of freelance
                developper.</p>
            </div>
    </div>
</section>

<section class="row-fluid" style="margin-bottom: 30px;">
    <h3 class="span2">The License</h3>
    <div class="span8">
        <p>The project is released under The MIT License (MIT).</p>
        <p>Copyright (c) 2012 - 2013 Guillaume Luchet</p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
    </div>
</section>

<section class="row-fluid" style="margin-bottom: 30px;">
    <h3 class="span2">The Code</h3>
    <div class="span8">
        <div>
            <p>
            The project is write in Python using the <a href="">Django</a>
            framework. It use <a
                href="http://twitter.github.io/bootstrap/index.html">Twitter
                bootstrap</a> and some icons provided by <a
                href="http://glyphicons.com/">Glyphicons</a>.
            </p>
            <p>The code is available on <a
                href="https://bitbucket.org/gluchet/task_timer/overview">Bitbucket</a>, feel free to contribute.</p>
        </div>
        <a href="http://www.djangoproject.com/"><img
            src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif"
            border="0" alt="Powered by Django." title="Powered by Django."
            /></a>
    </div>
</section>
{% endblock %}
