{% load task_timer_tags %}
{% if job and task %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span id="timer_pname">{{ task.project }}</span> &gt;
        <span id="timer_name">{{ task }}</span>
    </div>
    <div class="panel-body">
        <!--div class="row"-->

            <!--div class="col-md-4">
                Running since <span id="time">{{ job.get_time_spent|duration }}</span>
            </div>
            <div class="col-md-4 text-center">
                Total <span id="total_time">{{ task.time_spent|duration }}</span>
            </div-->
            <!--div class="col-md-4 text-right"-->
                <a id="timer_btn_start" class="btn btn-success btn-large">Start</a>
                <a id="timer_btn_stop" class="btn btn-danger btn-large">Stop</a>
            <span id="time">{{ task.time_spent|duration }}</span>
            <!--/div-->
        <!--/div-->
        <script>
        {% if task|startable:request.user %}
            Task.setupButton('start', {{ task.id }});
        {% else %}
            Task.setupButton('stop', {{ task.id }});
        {% endif %}
        </script>
    </div>
</div>
{% endif %}
