<!DOCTYPE html!>
{% load navactive gravatar %}
<html>
    <head>
        <title>{{ site.name }}</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/task.js"></script>
        {% block headlinks %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Activity</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar-collapse">


                    {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav pull-right">

                        <!--li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> <span class="badge">42</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>You have 42 unread messages</li>
                                <li><a href="#"><strong>Joe</strong><br>How are you ?</a></li>
                                <li><a href="#"><strong>T. Oncle</strong><br>Meeting canceled</a></li>
                            </ul>
                        </li-->
                        <!--li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <span class="badge">8</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>You have 8 notifications</li>
                                <li><a href="#">New file uploaded</a></li>
                                <li><a href="#">New customer created</a></li>
                            </ul>
                        </li-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle"
                                data-toggle="dropdown"><img class="icon"
                                width="20" src="{% gravatar_url request.user.email %}" > {{ request.user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href=""><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% navactive request "about" %}"><a href="{% url 'about' %}">About</a></li>
                        <li class="{% navactive request "contact" %}"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <p class="navbar-text pull-right">
                        <a href="{% url 'login' %}">Login</a>
                    </p>
                    {% endif %}

                </div>
            </div>
        </nav>

        {% if request.user.username %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <!--li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li-->
                    <li class="{% navactive request "dashboard" %}"><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li class="{% navactive request "report" %}"><a href="{% url 'report' %}"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                    <!--li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li-->
                  </ul>
                  <ul class="nav nav-sidebar">
                    <li class="{% renavactive request "^/clients/" %}"><a href="{% url 'clients' %}"><span class="glyphicon glyphicon-folder-open"></span> Clients</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-file"></span> Projects</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-tasks"></span> Recent tasks</a></li>
                  </ul>
                  <ul class="nav nav-sidebar">
                    <li class="{% navactive request "companies" %}"><a href="{% url 'companies' %}"><span class="glyphicon glyphicon-globe"></span> Companies</a></li>
                    <li class="{% navactive request "contacts" %}"><a href="{% url 'contacts' %}"><span class="glyphicon glyphicon-phone"></span> Contacts</a></li>
                  </ul>

                    <!-- Load last task -->
                    <div id="last-task"></div>
                    <script>
                        $("#last-task").load("{% url 'last-task' %}");
                    </script>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% if request.user.username %}
                    {% endif %}
        {% endif %}

                    {% block content %}{% endblock %}

        {% if request.user.username %}
                </div>
            </div>
        </div>
        {% endif %}

        <footer>
            <div class="container-fluid text-center">
            <p class="text-muted">Activity / Copyright &copy; 2015
            Guillaume Luchet / <a href="http://geelweb.org">geelweb.org</a></p>
            </div>
        </footer>

    </body>
</head>

