{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    Feel free to send me a message, to say "hi", propose a feature, make a comment or anything else.
</div>

<form action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
