{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    Thanks for your message.
</div>

<div>Your message has been sent, I'll try to answer you as quickly as possible.</div>
{% endblock %}
