{% extends "base.html" %}
{% load twitter_bootstrap %}

{% block headlinks %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>
<link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>Add a client</h1>
<form role="form" method="post" action="">
    {% csrf_token %}
    {{ form|twitter_bootstrap }}
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}

