{% extends "base.html" %}

{% block content %}
<h1>Clients</h1>
<a class="btn btn-primary" href="{% url 'client-create' %}">New Client</a>
<table id="clients" class="table table-hover">
    <thead>
        <tr>
            <th filter="false">#</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for client in object_list %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>
                <a href="{% url 'client-update' client.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{% url 'client-delete' client.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                <a href="{% url 'projects' client.id %}">projects</a></td>
        {% empty %}
        <tr><td colspan="3">No clients.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
