{% load gravatar %}
{% for user in company.users.all %}
<div class="media">
    <div class="media-left">
        <a href="#"><img class="media-object" src="{% gravatar_url user.email %}" alt="{{ user }}"></a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ user }}</h4>
        {% if user != company.owner %}
        <form class="ajax-form" method="POST" action="/companies/remove-user/">
            {% csrf_token %}
            <input type="hidden" name="company" value="{{ company.pk }}">
            <input type="hidden" name="user" value="{{ user.pk }}">
            <button type="submit" class="btn btn-default pull-right"><span class="text-danger">Remove</span></button>
        </form>
        {% endif %}
        {{ user.first_name }} {{ user.last_name }} {% if user.email %}&lt;{{ user.email }}&gt;{% endif %}
    </div>
</div>
{% endfor %}

<script type="text/javascript">
// this code is duplicated in company_update_form, fixme
$('.ajax-form').on('submit', function(e) {
    var self = $(this);
    e.preventDefault();
    $.ajax({
        url: self.attr('action'),
        type: self.attr('method'),
        data: self.serialize(),
        success: function(resp) {
            $('#members-list').html(resp);
        }
    });
});
</script>


