{% extends "base.html" %}

{% block content %}
<h1>Companies</h1>
<div class="row">
    {% for company in object_list %}
    <div class="col-md-2">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{ company }}</h3>
                <p>
                Owned by {% if request.user == company.owner %}you{% else %}company.owner{% endif %}.<br>
                {{ company.users.all|length }} user{{ company.users.all|length|pluralize }}.
                </p>
                <p class="text-right">
                    <a href="{% url 'company-update' company.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span></a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="media col-md-2 text-center">
        <a href="{% url 'company-create' %}" class="btn btn-success" role="button">Create</a>
    </div>
</div>
{% endblock %}
