{% extends "base.html" %}
{% load twitter_bootstrap %}

{% block headlinks %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>
<link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h4>Company settings</h4>
<div class="row">
    <div class="col-md-10">
        <form role="form" method="post" action="">
            {% csrf_token %}
            {{ form|twitter_bootstrap }}
            <button type="submit" class="btn btn-default">Update</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4>Company members</h4>
        <div class="ajax-loading" id="members-list" data-url="{% url 'company-members' company.pk %}"></div>
    </div>

    <div class="col-md-4">
        <h4>Add members</h4>
        <form class="ajax-form" method="POST" action="/companies/add-user/"
            data-target="#members-list" data-url="{% url 'company-members' company.pk %}">
            {% csrf_token %}
            <input type="hidden" name="company" value="{{ company.pk }}">
            <div class="form-group">
                <label for="multiple" class="control-label">Start tiping to search users</label>
                <select name="users" id="users_select" class="form-control select2-multiple" multiple="multiple"></select>
            </div>
            <button type="submit" class="btn btn-primary">Add selected users</button>
        </form>
    </div>
</div>


<script type="text/javascript">
// ajax form
$('.ajax-loading').each(function(){
    $(this).load($(this).data('url'));
});

$('.ajax-form').on('submit', function(e) {
    var self = $(this);
    e.preventDefault();
    $.ajax({
        url: self.attr('action'),
        type: self.attr('method'),
        data: self.serialize(),
        success: function(resp) {
            $('#members-list').html(resp);
        }
    });
});

// user select using select2
function formatUser (user)
{
    if (user.loading) return user.text;

    return '<div class="media">' +
        '<div class="media-left">' +
        '<img class="media-object" src="' + user.gravatar_url + '">' +
        '</div>' +
        '<div class="media-body">' +
        '<h4 class="media-heading"> ' + user.username + '</h4>' +
        user.first_name + ' ' + user.last_name + ' &lt;' + user.email + '&gt;' +
        '</div>' +
        '</div>';
}

$("#users_select").select2({
    ajax: {
        url: '/ajx/users/',
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                q: params.term, // search term
                page: params.page
            };
        },
        processResults: function (data, page) {
            // parse the results into the format expected by Select2.
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data
            return {
                results: data
            };
        },
        cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 3,
    templateResult: formatUser,
    templateSelection: function(user) { return user.username; }
});
</script>
{% endblock %}

