{% extends "base.html" %}

{% block content %}
<h1>Contacts</h1>
<a class="btn btn-primary" href="{% url 'contact-create' %}">New Contact</a>
<table id="clients" class="table table-hover">
    <thead>
        <tr>
            <th filter="false">#</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for contact in object_list %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>
                <a href="{% url 'contact-update' contact.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        {% empty %}
        <tr><td colspan="3">No contacts.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

