{% extends "base.html" %}
{% load task_timer_tags %}

{% block content %}
<h1>{{ client }} projects</h1>

<a href="{% url 'project-create' client.id %}" class="btn btn-primary">New Project</a>
<table id="projects" class="table table-hover">
    <thead>
        <tr>
            <th filter="false">#</th>
            <th>Name</th>
            <th>Time spent</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for project in object_list %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.time_spent|duration }}</td>
            <td>
                <a href="{% url 'project-update' client.id project.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{% url 'project-delete' client.id project.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                <a href="{% url 'tasks' client.id project.id %}">tasks</a>
            </td>
        {% empty %}
        <tr><td colspan="3">No projects.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
