{% extends "base.html" %}
{% load task_timer_tags %}

{% block content %}
<h1>{{ project }} tasks</h1>

<a href="{% url "task-create" client.id project.id %}" class="btn btn-primary">New Task</a>
<table id="tasks" class="table table-hover">
    <thead>
        <tr>
            <th filter="false">#</th>
            <th>Name</th>
            <th>Time spent</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in object_list %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.time_spent|duration }}</td>
            <td>
                {% if can_change_or_view_job %}
                <a href="{% url 'task-update' task.project.client.id task.project.id task.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{% url 'task-delete' task.project.client.id task.project.id task.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {% endif %}
                {% if can_start_stop_job %}
                <a href="#" id="start_stop_{{ task.id }}" onclick="Task.toggle({{ task.id }}); return false;"><span class="glyphicon glyphicon-{% if task|startable:request.user %}play{% else %}pause{% endif %}" aria-hidden="true"></span></a>
                {% endif %}
            </td>
        {% empty %}
        <tr><td colspan="3">No tasks.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
