{% extends "base.html" %}
{% load twitter_bootstrap %}

{% block content %}
<h1>Add task</h1>
<form role="form" method="post" action="">
    {% csrf_token %}
    {{ form|twitter_bootstrap }}
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}

