{% extends "base.html" %}

{% block content %}
<div class="panel panel-warning">
    <div class="panel-heading">Please confirm</div>
    <div class="panel-body">
        <form role="form" action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the task "{{ object }}"?</p>
            <button type="submit" class="btn btn-warning">Confirm</button>
            <a href="{% url 'tasks' object.project.client.id object.project.id %}" class="btn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}

