{% extends "base.html" %}

{% block headlinks %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/activity_dashboard.css" />

<link href="{{ STATIC_URL }}c3/c3.min.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}d3/d3.min.js" charset="utf-8"></script>
<script src="{{ STATIC_URL }}c3/c3.min.js"></script>
{% endblock %}

{% block content %}
<h1>Company dashboard</h1>
<div class="row">
    <div class="col-md-3 widget" data-widget="hours_month"></div>
    <div class="col-md-3 widget" data-widget="projects_month"></div>
    <div class="col-md-3">
        <div class="dashboard-metric bg-color-green widget-disabled">
            <div class="media-left">
                <span class="glyphicon glyphicon-euro"></span>
            </div>
            <div class="media-body">
                <h4>332,50 €</h4>
                <p>To Bill</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 widget" data-widget="contributors_month"></div>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Revenue per month</h3>
        <div id="chart1" class="widget-disabled"></div>
        <script type="text/javascript">
            var chart = c3.generate({
                bindto: '#chart1',
                data: {
                    type: 'bar',
                    columns: [
                        ['data1', 30, 200, 100, 400, 150, 250],
                        ['data2', 50, 20, 10, 40, 15, 25]
                    ]
                }
            });
        </script>
    </div>

    <div class="col-md-4 widget" data-widget="clients_repartition_month"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 id="pname">Awesome  project</h4>
        <div id="chart3" class="widget-disabled"></div>
        <script type="text/javascript">
            var d = [
                {'project': 'Awesome project', 'data': 79.4},
                {'project': 'Website', 'data': 23},
                {'project': 'Green Lizard', 'data': 42}
            ];
            var chartXXX = c3.generate({
                bindto: '#chart3',
                data: {
                    columns: [
                        ['data', 79.4]
                    ],
                    type: 'gauge',
                    onclick: function (d, i) { console.log("onclick", d, i); },
                    onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                    onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                },
                gauge: {
                },
                color: {
                    pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                    threshold: {
                        values: [30, 60, 90, 100]
                    }
                },
                size: {
                    height: 180
                }
            });

            var i = 0;
            setInterval(function() {
                i = i + 1;
                $('#pname').html(d[i%3].project)
                chartXXX.load({
                    columns: [['data', d[i%3].data]]
                });
            }, 3000);
        </script>
    </div>

    <div class="col-md-4">
        <h4>To do</h4>
        <div class="widget-disabled">
        <table class="table">
            <tr>
                <th></th>
                <th>Task</th>
                <th>Due on</th>
            </tr>
            <tr>
                <td><input type="checkbox" checked="checked"></td>
                <td><s>Call Bank</s></td>
                <td><s>Mar. 13</s></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Call Mum</td>
                <td>Mar. 20</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Urssaf</td>
                <td>Apr. 30</td>
            </tr>
        </table>
        </div>
    </div>
</div>



<script type="text/javascript">
    $('.widget').each(function() {
        $(this).load('widget/' + $(this).data('widget'));
    });
</script>
{% endblock %}
