{% extends "base.html" %}

{% block headlinks %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css" >
{% endblock %}

{% block content %}

<!--div class="span3">
    <div class="accordion" id="accordion2">
        <div id="clients-accordion-group" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Clients</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div id="clients" class="accordion-inner">
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Projects</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div id="projects" class="accordion-inner">
                </div>
            </div>
        </div>
    </div>
</div-->
<div class="row">
<div class="col-md-12">
    <div id="treemap_filters">
        <form class="form-inline" role="form">
            <input type="hidden" name="client" value="{{client}}"/>
            <input type="hidden" name="project" value="{{project}}"/>
            <div class="form-group">
                <label for="from_date">From</label>
                <input id="from_date" type="text" class="form-control" name="from_date" value="{{ from_date }}">
            </div>
            <div class="form-group">
                <label for="to_date">To</label>
                <input id="to_date" type="text" class="form-control" name="to_date" value="{{ to_date }}">
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
        </form>
    </div>

    <div id="treemap_clients"></div>
</div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
var w = 1120,
    h = 600,
    x = d3.scale.linear().range([0, w]),
    y = d3.scale.linear().range([0, h]);

var color = d3.scale.category20c();

var vis = d3.select("div#treemap_clients").append("div")
    .attr("class", "chart")
    .style("width", w + "px")
    .style("height", h + "px")
    .append("svg:svg")
    .attr("width", w)
    .attr("height", h);

var partition = d3.layout.partition()
    .value(function(d) { return d.size; });

var from_date = $('#from_date').attr('value'),
    to_date = $('#to_date').attr('value');

d3.json("{% url 'treemap_clients' %}?from_date="+from_date+"&to_date=" + to_date + "&client={{client}}&project={{project}}", function(root) {
    var g = vis.selectAll("g")
        .data(partition.nodes(root))
        .enter().append("svg:g")
        .attr("transform", function(d) { return "translate(" + x(d.y) + "," + y(d.x) + ")"; })
        .on("click", click);

    var kx = w / root.dx,
        ky = h / 1;

    g.append("svg:rect")
        .attr("width", root.dy * kx)
        .attr("height", function(d) { return d.dx * ky; })
        .style("fill", function(d) { return color(d.children ? d.name : d.parent.name); })
        .attr("class", function(d) { return d.children ? "parent" : "child"; });

    g.append("svg:text")
        .attr("transform", transform)
        .attr("dy", ".35em")
        .style("opacity", function(d) { return d.dx * ky > 12 ? 1 : 0; })
        .text(function(d) { return d.name; })

    d3.select(window)
        .on("click", function() { click(root); })

    function click(d) {
        if (!d.children) return;

        kx = (d.y ? w - 40 : w) / (1 - d.y);
        ky = h / d.dx;
        x.domain([d.y, 1]).range([d.y ? 40 : 0, w]);
        y.domain([d.x, d.x + d.dx]);

        var t = g.transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .attr("transform", function(d) { return "translate(" + x(d.y) + "," + y(d.x) + ")"; });

        t.select("rect")
            .attr("width", d.dy * kx)
            .attr("height", function(d) { return d.dx * ky; });

        t.select("text")
            .attr("transform", transform)
            .style("opacity", function(d) { return d.dx * ky > 12 ? 1 : 0; });

        d3.event.stopPropagation();
    }

    function transform(d) {
        return "translate(8," + d.dx * ky / 2 + ")";
    }
});

</script>


<script>
$(function() {
    $("#from_date").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        dateFormat: 'yy-mm-dd',
        onClose: function(selectedDate) {
            $("#to").datepicker("option", "minDate", selectedDate);
        }
    });
    $("#to_date").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        dateFormat: 'yy-mm-dd',
        onClose: function(selectedDate) {
            $("#from").datepicker("option", "maxDate", selectedDate);
        }
    });
});
</script>

<script>
$.ajax("{% url 'clients' %}",{
    "success": function(data, textStatus, jqXHR) {
        var clients_container = $('div#clients'),
            projects_container = $('div#projects');

        for (var i=0, l=data.length ; i<l ; i++) {
            var client = data[i],
                url = "?client=" + client.pk + "&from_date={{from_date}}&to_date={{to_date}}";

            if (client.fields == undefined) {
                return;
            }

            clients_container.append('<li><a href="'+ url + '">'+client.fields.name+'</a></li>');

            $.ajax('/clients/' + client.pk + '/projects/',{
                "success": function(data) {
                    for (var i=0, l=data.length ; i<l ; i++) {
                        var project = data[i],
                            url = "?client=" + project.fields.client + "&project=" + project.pk + "&from_date={{from_date}}&to_date={{to_date}}";
                        projects_container.append('<li><a href="'+ url + '">'+project.fields.name+'</a></li>');
                    }
                }
            });
        }

        if (data.length == 1) {
            $('div#clients-accordion-group').hide();
        }
    }
}).done();
</script>

{% endblock %}
