<h3>Clients repartition</h3>
<div id="chart-clients-repartition-month"></div>
<script type="text/javascript">
var chart = c3.generate({
    bindto: '#chart-clients-repartition-month',
    data: {
        columns: [
            {% for client in clients %}
            ['{{ client.name }}', {{ client.time_spent }}],
            {% endfor %}
        ],
        type : 'donut',
        //onclick: function (d, i) { console.log("onclick", d, i); },
        //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Repartition"
    }
});
</script>

