<div class="dashboard-metric bg-color-gray">
    <div class="media-left">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="media-body">
        <h4>{{ n }}</h4>
        <p>Contributor{{ n|pluralize }}</p>
    </div>
</div>

