<div class="media dashboard-metric bg-color-blue">
    <div class="media-left">
        <span class="glyphicon glyphicon-time"></span>
    </div>
    <div class="media-body">
        <h4>{{ h }}</h4>
        <p>Hours worked this month</p>
    </div>
</div>

