<div class="dashboard-metric bg-color-orange">
    <div class="media-left">
        <span class="glyphicon glyphicon-file"></span>
    </div>
    <div class="media-body">
        <h4>{{ n }}</h4>
        <p>Active projects</p>
    </div>
</div>

