.dashboard-metric {
    /*background-color: #efefef;*/
    padding: 10px;
    text-align: center;
}
.dashboard-metric .media-left {
    font-size: 100;
}

.row .dashboard-metric:last-child {
    border: 0;
}
.bg-color-blue {
    background-color: #2e8bcc;
    color: #fff;
}
.bg-color-orange {
    background-color: #f09609;
    color: #fff;
}
.bg-color-green {
    background-color: #339933;
    color: #fff;
}
.bg-color-gray {
    background-color: #999999;
    color: #fff;
}

.widget-disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}

.widget-disabled:after {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:.7;
}
