{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

{% if form.errors %}
<div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
{% endif %}

<form class="form-signin" method="POST" action="{% url 'login' %}">
    <h2 class="form-signin-heading">Please sign in</h2>

    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'home' %}" />

    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</div>
{% endblock %}
